body{
	background-color: #001a33;

}


h1{
	text-align: center;
	margin-top: 50px;
	color:#1a8cff;
	font-size: 50px;
	text-shadow: 0.1em 0.1em 0.2em white;
}

h2{
	margin-top: 50px;
	color:white;
	text-shadow: 2px 2px #00008B;
}

form{
	margin-top: 100px;
}

h3{
	transform: rotate(0.5turn);
	text-align: center;
	margin-top: 50px;
	color:#1a8cff;
	font-size: 50px;
	text-shadow: 0.1em 0.1em 0.2em white;
}


